#caja{
    width: 300px;
    height: 50px;
    border: 2px dashed black;
    background-color: rgb(126, 126, 116);
    text-align: center;
    transition: all 300ms ease-in-out;
    line-height: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    display: none;
}

